* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Poppins:300,400,500,600,700');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
}

/* Header CSS Start Here */

.header {}

.header-bar {
    padding: 10px;
    background: #000000;
    text-align: center;
    border-bottom: 1px solid #018FFE;
}

.header-bar p {
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    font-weight: 300;
}

.header-top-area {
    padding: 10px 10px;
    display: block;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #018FFE;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


.logo img {
    width: 220px;
}

.main-menu {
    padding: 13px 0px;
}

.main-menu nav ul li {
    display: inline;
    margin-right: 15px;
}

.main-menu nav ul li:last-child {
    margin-right: 0;
}

.main-menu nav ul li a {
    text-decoration: none;
    list-style: none;
    font-size: 13px;
    color: #333333 !important;
    transition: .3s;
    font-weight: bold;
}

.main-menu nav ul li:hover a {
    color: #B70038 !important;
}

.main-menu nav ul li .subscribe {
    color: #B70038 !important;
}

.main-menu nav ul li:hover .subscribe {
    color: #018FFE !important;
}

.main-menu nav ul li .search-icon {
    color: #018FFE !important;
}

/* Blog CSS Start Here */

.blog-right p {
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
}

.blog-right .heading-p {
	background: aliceblue;
	padding: 10px;
	font-size: 16px;
}

.blog-right h2 {
    font-size: 30px;
    line-height: 44px;

}

.admin-img {
    padding: 10px;
}

.admin-img img {
    border-radius: 10px;
    border: 2px solid #DEE2E6;
}

.admin-author {
    padding: 10px;
    padding-top: 0px !important;
}

.admin-author p {
    font-size: 12px;
    line-height: 20px;
    font-weight: 200;
    color: #333333;
}

.admin-name h3 {
    font-size: 18px;
    font-weight: 500;
    color: #018FFE;
    margin-bottom: 7px;
    margin-top: 4px;
    transition: .3s;
    cursor: pointer;
}

.admin-name h3:hover {
    color: #B70038;
}

.header-top-area {
    padding-bottom: 50px;
}

.blog-right span {
    font-size: 13px;
    color: #018FFE;
    letter-spacing: 2px;
    font-weight: 300;
}

.blog-left.w-30.f-right {}

.blog-left .admin-content {
    border: 1px solid #DEE2E6;
    padding: 10px;
    background: #F4F6F8;
}
.blog-left .sidebar-img{
	border: 1px solid #DEE2E6;
	padding: 20px;
	margin-top: 10px;
}
.blog-right {
    padding: 10px;
}

/*  blog-1st-part */
.blog-1st-part {}

.blog-1st-part .first-content {
    float: left;
}

.blog-1st-part .quick-menu {
    float: right;
}

.quick-menu {}

.quick-menu h3 {
    font-size: 18px;
    text-align: center;
    padding: 10px;
    background: #1DA1F2;
    color: #fff;
}

.quick-menu .quick-content {
    padding: 10px;
    padding-bottom: 20px !important;
    border: 2px solid #EDEDED;
}

.quick-menu .quick-content .quick-list ul li a {
    list-style: none;
    text-decoration: none;
    color: #000;
    display: flex;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 3px;
}

.quick-menu .quick-content .quick-list ul li a h6 {
    list-style: none;
    text-decoration: none;
    color: #333333;
    font-size: 16px;
    line-height: 1.5;
    transition: .3s;
}

.quick-menu .quick-content .quick-list ul li:hover a h6 {
    list-style: none;
    text-decoration: none;
    color: #B70038;
    font-size: 16px;
    line-height: 1.5;
}

.quick-menu .quick-content .quick-list ul li a h6 span {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0;
    transition: .3s;
}

.quick-menu .quick-content .quick-list ul li:hover a h6 span {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #B70038;
    text-decoration: underline;
}

.black {
    color: #333333 !important;
    letter-spacing: 0 !important;
    font-weight: bold !important;
}
.exp-heading p {
	padding-left: 20px;
	padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.exp-heading {
	float: left;
	width: 100%;
	padding: 20px 10px;
	background: aliceblue;
	margin-bottom: 40px;
	margin-top: 20px;
}
.exp-heading h6 {
	font-weight: bold;
}


/* Details CSS Start Here */




.details {
	display: block;
}
.details-heading h2 {
	margin-bottom: 10px !important;
}
.details-heading p {
	color: #333333;
	line-height: 1.5;
	font-size: 16px;
	text-align: left;
}
.details-content ul li {
	list-style: disc;
	padding-left: 5px;
	margin-bottom: 25px !important;
}
.details-content {
	margin-left: 15px;
	margin-top: 35px;
	margin-bottom: 35px;
}
.details-content ul li p span {
	font-size: 16px;
	letter-spacing: 0;
	font-weight: bold;
	color: #000000;
	margin-right: 5px;
}

/* Social CSS Start Here */
.social-icon {
    margin-top: 20px;
    margin-bottom: 15px;
}

.social-icon ul li {
    display: inline;
    margin-left: 3px;
}

.social-icon ul li:first-child {
    margin-left: 0;
}

.social-icon ul li a {
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    color: #fff;
    font-weight: 200;
    transition: .3s;
    height: 32px;
    width: 32px;
    display: inline-block;
    text-align: center;
    padding-top: 6px;
    border-radius: 4px;
    transition: .3s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.social-icon ul li:hover a {
    background: #333333 !important;
}

.twitter {
    background: #1DA1F2;
}

.facebook {
    background: #3B5A98;
}

.linkedin {
    background: #0077B5;
}

.pinterest {
    background: #CB3C4C;
}

.envelope {
    background: #000000;
}

.link {
    background: #44BE32;
}

/* Skip To Section */
.skip-to-section {
	width: 150px;
	position: fixed;
	left: 10%;
	padding: 15px 5px;
	margin-top: 10px;
}
.skip-to-section .top-pickers{
    padding: ;
}
.skip-to-section .top-pickers h3 {
	font-size: 14px;
	color: #000000;
    font-weight: bold;
    padding-bottom: 5px;
    
}
.q-list{
    color: #018FFE;
    border-top: 2px solid #018FFE;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCCCCC;
}

.section-list ul li {
	margin-top: 5px;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 5px;
}
.section-list ul li:last-child{
    border-bottom: 2px solid #018FFE !important;
    padding-bottom: 10px;
}
.skip-to-section .top-pickers .section-list ul li a {
    text-decoration: none;
}
.skip-to-section .top-pickers .section-list ul li a h6 {
    font-size: 14px;
    font-weight: 200px;
    line-height: 1.5;
    color: #333333;
    transition: all .3s;
}
.skip-to-section .top-pickers .section-list ul li:hover a h6{
    color: #018FFE;
}

.skip-to-section .top-pickers .section-list ul li a h6 span{
    font-size: 14px;
    font-weight: 200px;
    line-height: 1.5;
    color: #333333;
    transition: .3s;
}
.skip-to-section .top-pickers .section-list ul li:hover a h6 span{
    color: #018FFE;
}