* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Poppins:300,400,500,600,700');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
}

/* Header CSS Start Here */

.header {}

.header-top-area {
	padding: 10px 0;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #018FFE;
}

.logo {}

.logo img {
	width: 250px;
}

.main-menu{
	padding: 13px 0px;
}

.main-menu nav{}
.main-menu nav ul{}
.main-menu nav ul li{
	display: inline;
	margin-right: 15px;
}
.main-menu nav ul li a{
	text-decoration: none;
	list-style: none;
	font-size: 14px;
	color: #000000;
	transition: .3s;
}
.main-menu nav ul li:hover a {
	color: #018FFE;
}

/* Blog CSS Start Here */
.blog-left{
	
}
.blog-right p {
	font-size: 12px;
	color: #000000;
}
.blog-right h2 {
	font-size: 30px;
	line-height: 44px;
	
}
.admin-img {
	padding: 10px;
}
.admin-img img{
	border-radius: 10px;
	border: 2px solid #DEE2E6;
}
.admin-author {
	padding: 10px;
	padding-top: 0px !important;
}
.admin-author p {
	font-size: 12px;
	line-height: 20px;
	font-weight: 200;
	color: #000;
}
.admin-name h3 {
	font-size: 18px;
	font-weight: 500;
	color: #018FFE;
	margin-bottom: 5px;
}
.header-top-area {
	padding-bottom: 50px;
}
.blog-right span{
	font-size: 13px;
	color: #018FFE;
	letter-spacing: 2px;
	font-weight: 300;
}
.blog-left.w-30.f-right {
	border: 1px solid #DEE2E6;
	padding: 10px;
	background: #F4F6F8;
}

.blog-right {
	padding: 10px;
}




/* Social CSS Start Here */
.social-icon{
margin-top: 20px;	
}
.social-icon ul li{
	display: inline;
	margin-left: 10px;
	
}
.social-icon ul li:first-child{
	margin-left: 0;
}
.social-icon ul li a {
	text-decoration: none;
	list-style: none;
	font-size: 20px;
	color: #fff;
	font-weight: 200;
	transition: .3s;
	background: black;
	height: 36px;
	width: 37px;
	display: inline-block;
	text-align: center;
	padding-top: 7px;
	border-radius: 4px;
}
.social-icon ul li a i{
	
}