@use "../abstract" as *;

.heading{
    & .headding{
        & h1{
            font-size: 60px;
            color: #24292E;
        }
        & p{
            font-size: 22px !important;
            line-height: 30px;
        }
    }
}