@use "../abstract"as *;


// **************************************
// Header CSS Start Here
// **************************************
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
header {
    & .header-area {
        padding: 25px 0px;
        background: darkgray;
        & .logo {

        }

        & .main-menu {
            & #nav {
                & ul {
                    margin-bottom: 0;
                    & li {
                        display: inline-block;
                        padding: 0px 12px;

                        & a {
                            list-style: none;
                            text-decoration: none;
                            padding: 0;
                            font-size: 18px;
                            margin: 0;
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}